.bg-pink {
    background-color: #E83E8C;
}


body {
    /*reglas para el texto*/
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "width" 100;
  color: #212529;
}

h1 {
    color: #707070;
    font-weight: 700;
}

h2, h5 {
    font-weight: 700;
    display: inline-block;
}

section i{
    font-size: 2.5rem;
    
}

footer img {
    height: 5rem;
}

